[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
olive_dao = "B3EdVG6FJndxAemD9fXqVSYmoqhmY11TZShuTHGjV5Wz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
buy_with_sol = "ts-node scripts/buy_with_sol.ts"
initialize = "ts-node scripts/initialize.ts"

[hooks]
