@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: radial-gradient(circle at top right, #0a2d1d, #000000);
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

#proposal-list::-webkit-scrollbar {
  display: none;
}